{% include 'adminheader.html' %}
<center>
    <div class="img-div">
    
    
    <h1 class="hd">Manage Matches</h1>
    <form action="" method="post" class="form">
        <table class="table form-group">
            <tr>
                <th>First Team</th>
                <td>
                    <select name="fid" id="">
                        {% for row in data['team'] %}
                        <option value="{{ row['team_id'] }}">{{ row['team_name'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Second Team</th>
                <td>
                    <select name="sid" id="">
                        {% for row in data['team'] %}
                        <option value="{{ row['team_id'] }}">{{ row['team_name'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Date</th>
                <td><input type="date" class="form-control" required name="date" id=""></td>
            </tr>
            <tr>
                <th>Time</th>
                <td><input type="time" class="form-control" required name="time" id=""></td>
            </tr>
            <tr>
               
                <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="btn" id=""></td>
            </tr>
            </table>
            </form>

</div>
    <br><br>
    {% if data['count'] >= 1 %}
    <h5>View  Matches</h5>
    <table class="table table-striped tbl-new" style="width: 1000px;">
        <tr>
            <th>index</th>
            <th>First Team</th>
            <th>Second Team</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            
        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['t1name'] }}</td>
            <td>{{ row['t2name'] }}</td>
            <td>{{ row['date'] }}</td>
            <td>{{ row['time'] }}</td>
            <td>{{ row['match_status'] }}</td>
            
            <td><a class="btn btn-danger" onclick="return confirm('Are You Sure!')" href="?action=delete&mid={{ row['matches_id'] }}&tid={{ tid }}">Delete</a></td>
            <td><a href="admin_add_batting?mid={{ row['matches_id'] }}">Add Batting Details</a></td>
            <td><a href="admin_add_bowling?mid={{ row['matches_id'] }}">Add Bowling Details</a></td>
            <td><a href="admin_add_extras?mid={{ row['matches_id'] }}">Add Extras</a></td>
         
                   </tr>
        {% endfor %}
    </table>
    {% endif %}
</center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>

{% include 'footer.html' %}