{% include 'playerheader.html' %}
<center>
    <div class="img-div"></div>
    <br><br>

    <h5>Your  Matches</h5>
    <table class="table table-striped tbl-new" style="width: 800px;">

        {% for row in data['res'] %}
        <tr>
            <td>You Have Match on <span style="margin: 0px 5px;color: red;">{{ row['date'] }}</span> at <span style="margin: 0px 5px;color: red;">{{ row['time'] }}</span></td>
          
                   </tr>
        {% endfor %}
    </table>

</center>



{% include 'footer.html' %}