{% include 'teamheader.html' %}
<center>
    <div class="img-div">
    {% if data['raw'] %}

    
    <h1 class="hd">Update Tournament</h1>
    <form action="" method="post" class="form" enctype="multipart/form-data">
        <table class="table form-group">
            <tr>
                <th>First Name</th>
                <td><input type="text" class="form-control" value="{{ data['raw'][0]['fname'] }}" required name="fname" id=""></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" class="form-control" value="{{ data['raw'][0]['lname'] }}" required name="lname" id=""></td>
            </tr>
        
            <tr>
                <th>Dob</th>
                <td><input type="date" class="form-control" value="{{ data['raw'][0]['dob'] }}" required name="dob" id=""></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text" class="form-control" value="{{ data['raw'][0]['phone'] }}" maxlength="10" required name="phone" id=""></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" class="form-control" value="{{ data['raw'][0]['email'] }}" required name="email" id=""></td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="/{{ data['raw'][0]['photo'] }}" width="50" height="50" alt=""></td>
            </tr>
            <tr>
                <th></th>
                <th><input type="file" class="form-control"  name="img" id=""></th>
            </tr>
            <tr>
                <th>Team Role</th>
                <td><input type="text" class="form-control" value="{{ data['raw'][0]['team_role'] }}" required name="teamrole" id=""></td>
            </tr>
            <tr>
                <th>Place</th>
                <td><input type="text" class="form-control" value="{{ data['raw'][0]['place'] }}" required name="place" id=""></td>
            </tr>
            <tr>
                <th>Pincode</th>
                <td><input type="text" class="form-control" value="{{ data['raw'][0]['pincode'] }}" maxlength="6" required name="pin" id=""></td>
            </tr>

            <tr>
               
                <td colspan="2" align="center"><input type="submit" value="Update" class="btn btn-success" name="update" id=""></td>
            </tr>
            </table>
            </form>
    

    {% else %}
    
    <h1 class="hd">Manage Playes</h1>
    <form action="" method="post" class="form" enctype="multipart/form-data">
        <table class="table form-group">
            <tr>
                <th>First Name</th>
                <td><input type="text" class="form-control" required name="fname" id=""></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" class="form-control" required name="lname" id=""></td>
            </tr>
        
            <tr>
                <th>Dob</th>
                <td><input type="date" class="form-control" required name="dob" id=""></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text" class="form-control" maxlength="10" required name="phone" id=""></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" class="form-control" required name="email" id=""></td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><input type="file" class="form-control" required name="img" id=""></td>
            </tr>
            <tr>
                <th>Team Role</th>
                <td><input type="text" class="form-control" required name="teamrole" id=""></td>
            </tr>
            <tr>
                <th>Place</th>
                <td><input type="text" class="form-control" required name="place" id=""></td>
            </tr>
            <tr>
                <th>Pincode</th>
                <td><input type="text" class="form-control" maxlength="6" required name="pin" id=""></td>
            </tr>
            <tr>
                <th>Username</th>
                <td><input type="text" class="form-control" required name="uname" id=""></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" class="form-control"  required name="passw" id=""></td>
            </tr>
            <tr>
               
                <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="btn" id="btn"></td>
            </tr>
            </table>
            </form>

    {% endif %}
</div>
    <br><br>
    {% if data['count'] >= 1 %}
    <h5>View PLayers</h5>
    <table class="table table-striped tbl-new" style="width: 1000px;">
        <tr>
            <th>index</th>
            <th>Name</th>
            <th>Dob</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Photo</th>
            <th>Team Role</th>
            <th>Place</th>
            <th>Pincode</th>
            
        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['fname'] }} {{ row['lname'] }}</td>
            <td>{{ row['dob'] }}</td>
            <td>{{ row['phone'] }}</td>
            <td>{{ row['email'] }}</td>
            <td><img src="/{{ row['photo'] }}" width="70" height="70" alt=""></td>
            <td>{{ row['team_role'] }}</td>
            <td>{{ row['place'] }}</td>
            <td>{{ row['pincode'] }}</td>
            
            <td><a class="btn btn-info" href="?action=update&pid={{ row['player_id'] }}&lid={{ row['login_id'] }}">Update</a></td>
            <td><a class="btn btn-danger" onclick="return confirm('Are You Sure!')" href="?action=delete&pid={{ row['player_id'] }}&lid={{ row['login_id'] }}">Delete</a></td>
            <td><a class="btn btn-primary" href="team_player_status?pid={{ row['player_id'] }}&player={{ row['fname'] }} {{ row['lname'] }}">Update Status</a></td>
                   </tr>
        {% endfor %}
    </table>
    {% endif %}
</center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                    $('#btn').prop('disabled', true);
                } else {
                    $('#eerror').hide();
                    $('#btn').prop('disabled', false);
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>

{% include 'footer.html' %}